[run]
omit = 
    */migrations/*
    */config/*
    */contrib/*
    manage.py
    *__init__.py
    *urls.py
    *tests.py
    *apps.py
    *serializers.py
    *admin.py
    *test_models.py

source = .
