{% extends "base.html" %}
{% block content %}
{% autoescape on %}
<div>Здравствуйте!</div>
<br>
<div>Вы решили стать частью системы раздельного сбора сырья Университета ИТМО.
    <br>Это одна из составляющих пути устойчивого развития и важная часть осознанного отношения к окружающей среде.
    <br>Администрация ВУЗа и команда проекта ReCycleStarter благодарит вас за этот ответственный шаг!
</div>
<br>
<div>В этом письме приведён перечень возможностей сервиса и правил использования. Просим Вас внимательно прочитать это
    письмо и не удалять его впоследствии.
</div>
<br>
<div><b>Подключение к сервису:</b></div>
<br>
<div>Для того, чтобы за накопленной вами макулатурой начали по команде приходить специально обученные люди, осталось
    сделать совсем немного!</div>
<ol>
    <li>
        {% if is_ecobox %}
        Вы указали объём необходимого вам контейнера, равный 140 литрам. Для того, чтобы его получить, просим Вас
        обратиться в аудиторию {{ container_room }}.
        {% else %}
        Вы указали объём необходимого вам контейнера, равный 14 литрам. Это объём урны, которая есть в каждом офисном
        подразделении.
        Предлагаем вам выбрать одну из урн и складывать в неё только макулатуру.
        {% endif %}
    </li>
    <br>
    <li>В непосредственной близости с контейнером должен находиться стикер нашего сервиса, на котором изображены
        уникальный
        ID контейнера и уникальный QR-код.
        Распечатанный стикер вы можете получить в аудитории {{ sticker_room }}, сообщив ID, указанный
        в этом письме. Его вам выдаст {{ sticker_giver }}. Версию стикера для самостоятельной печати вы найдёте в
        прикреплённых файлах этого письма.</li>
    <br>
    <li>Получив два этих атрибута, расположите их в своём офисе. Учтите, что согласно требованиям пожарной
        безопасности, контейнеры не должны являться препятствием на пути эвакуации.
    </li>
</ol>

<div><b>Использование сервиса:</b></div>
<br>
<div>Теперь, когда контейнер для сбора макулатуры находится в удобном месте, а стикер у всех на виду, ваш офис подключён
    к сервису для раздельного сбора макулатуры!
    <br>Вот как будет работать сервис:
</div>
<ol>
    <li>Вы и ваши коллеги по офису складывают бумажные отходы в контейнер.
        <br>Просим вас ознакомиться с правилами сбора
        на сайте сервиса.
    </li>
    <br>
    <li>Когда контейнер будет полностью заполнен, Вам необходимо сообщить об этом.
        <br>
        <div>Сообщить можно двумя способами:</div>
        <br>
        <ul>
            <li>Либо ввести ID контейнера на главной странице сервиса;</li>

            <li>Либо отсканировать QR код со стикера. В этом случае вам откроется страница подтверждения сбора
                макулатуры.</li>
        </ul>
        <br>
        <div>Сообщать о необходимости сбора может каждый сотрудник. Поэтому просим распространить данную инструкцию
            среди
            ваших коллег.</div>
    </li>
    <br>
    <li>В течение нескольких дней к вам в офис придёт сотрудник департамента по эксплуатации объектов недвижимости и
        заберёт
        накопившуюся макулатуру. Далее макулатура отправится в накопительный уличный бак, из которого её заберёт
        компания-переработчик.</li>
    <br>
    <li>На сайте сервиса предусмотрена обратная связь с командой проекта. Она находится во вкладке «Помощь». Там вы
        можете
        сообщить о неполадках в работе сервиса на примере конкретного контейнера.</li>
</ol>
<br>
<div>P.S. Сервис предполагает не только оперативную связь между накопителями и сборщиками сырья, но и подсчитывает
    количество собранного.
    <br>Предлагаем вам узнать больше о нашем проекте, положительно влиянии раздельного сбора отходов на экологическую
    ситуацию в стране и мире,
    <br>а также оценить вклад Университета ИТМО в общее дело.
</div>
{% endautoescape %}
{% endblock %}