<!DOCTYPE html>
<html lang="ru">

<body>
  <div>Здравствуйте.</div>
  <div>Необходимо организовать сбора архива в вашем здании ({{address}}).</div>
  <div>Архив находится в аудитории {{room}}.</div>
  <div>Запрос поступил от: {{email}}.</div>
  <div>Телефон для связи: {{phone}}.</div>
  <div>Дополнительная информация:</div>
  <div> {{description}}.</div>
  <div>Сбор макулатуры должен быть осуществлён не позднее {{ due_date }}</div>
</body>
<footer>
  Благодарим за ответственный подход к работе и заботу об окружающей среде.
  Команда проекта RecycleStarter.
</footer>

</html>
