<!DOCTYPE html>
<html lang="ru">

<body>
  <div>Добрый день!</div>
  <div>Каждые три месяца мы подводим итоги и рассказываем нашим пользователям о том, какой объём сырья был собран общими
    усилиями и каков персональный вклад каждого офиса в общее дело.</div>
  <div>За период с {{start_date}} по {{end_date}} с помощью сервиса RecycleStarter было собрано {{total_mass}} килограмм
    макулатуры.</div>
  <div>В вашем здании было собрано {{building_mass}} килограмм макулатуры.</div>
  <div>Вы и ваши коллеги по офису накопили за это время {{container_mass}} килограмм макулатуры с помощью
    {{container_ids}}, что больше, чем у
    {{percentage}}% подключенных пользователей.</div>
  <div>Вся собранная макулатура была отправлена на переработку компанией ООО "Торус".</div>
</body>
<footer>
  <div>С уважением и заботой о природе,</div>
  <div>Команда проекта RecycleStarter.</div>
</footer>

</html>
