{% extends "base.html" %}
{% block content %}
{% autoescape on %}
<div>Добрый день.</div>
<br>
<div>Необходимо произвести вывоз сырья из корпуса Университета ИТМО по адресу {{ address }}.</div>
<br>
<div>Для осуществления доступа на территорию университета необходимо выслать данные рабочих
    <br>и транспортного средства на электронный адрес: <a
        href="malito:stepanishcheva@itmo.ru">stepanishcheva@itmo.ru</a>
</div>
<br>
<div>Акт приёма-передачи отходов просим направить в отдел охраны труда и экологической безопасности
    <br>по адресу: <a href="mailto:stepanishcheva@itmo.ru">stepanishcheva@itmo.ru</a>
</div>
<br>
<div>Контактный номер: 89215577899 Илья.</div>
<br>
<div>Схема заезда на территорию Университета ИТМО представлена во вложении.</div>
{% endautoescape %}
{% endblock %}